:root {
  --grid-width: 45;
  --grid-cell-width: calc(100vw / (var(--grid-width) + 5));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-list-wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.icon-list-item {
  width: fit-content;
  padding: 0.1rem;
  margin: 0 1rem 0.5rem 1rem;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.navbar-item {
  width: fit-content;
  padding: 0.1rem;
  margin: 0 1rem 0.5rem 1rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-width),
    minmax(var(--grid-cell-width), var(--grid-cell-width))
  );
  margin: 0 0.5rem 0 0.5rem;
}

.grid-cell-wrapper {
  display: grid;
  margin: 0;
  padding: 0;
}

.grid-cell-item {
  width: var(--grid-cell-width);
  height: var(--grid-cell-width);
  border: 1px solid cyan;
}

.grid-cell-item:hover {
  background-color: black;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(4, 41, 30, 0.75);
    border-radius: 70%;
  }

  50% {
    background-color: rgba(52, 97, 0, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(195, 216, 5, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(67, 255, 83, 0.75);
  }
}

.starting-cell {
  background-color: blue !important;
}

.target-cell {
  background-color: red !important;
}

.wall-cell {
  background-image: url('./static/images/wall.png');
  background-size: cover;
  background-color: black;
}

.selected {
  animation-name: selectedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;
  background-color: black;
}

@keyframes selectedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(156, 162, 160, 0.75);
    border-radius: 70%;
  }

  50% {
    background-color: rgba(94, 100, 86, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(45, 46, 42, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.no-path-modal {
  position: absolute;
  top: 30vh;
  left: 30vw;
  font-size: xx-large;
  z-index: 1;
  animation-name: noPossiblePathAnimation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;
  background-color: black;
}

@keyframes noPossiblePathAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(156, 162, 160, 0.75);
    border-radius: 70%;
  }

  50% {
    background-color: rgba(94, 100, 86, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(45, 46, 42, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(66, 148, 12, 0.5);
  }
}
