:root {
  --grid-width: 45;
  --grid-cell-width: calc(100vw / (var(--grid-width) + 5));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-list-wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.icon-list-item {
  width: fit-content;
  padding: 0.1rem;
  margin: 0 1rem 0.5rem 1rem;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

.navbar-item {
  width: fit-content;
  padding: 0.1rem;
  margin: 0 1rem 0.5rem 1rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-width),
    minmax(var(--grid-cell-width), var(--grid-cell-width))
  );
  margin: 0 0.5rem 0 0.5rem;
}

.grid-cell-wrapper {
  display: grid;
  margin: 0;
  padding: 0;
}

.grid-cell-item {
  width: var(--grid-cell-width);
  height: var(--grid-cell-width);
  border: 1px solid cyan;
}

.grid-cell-item:hover {
  background-color: black;
}

.selected {
  background-color: black;
}

.visited {
  animation-name: fillColorAnimation;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-direction: alternate;

  background-color: greenyellow;
}


@keyframes fillColorAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(4, 41, 30, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(52, 97, 0, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(195, 216, 5, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(67, 255, 83, 0.75);
  }
}



.starting-cell {
  background-color: blue;
}

.target-cell {
  background-color: red;
}
